@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.main * {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
}

.main h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

.main th {
	text-align: center;
	background-color: #FFDDAE;
}

.main td {
	text-align: center;
}

.main .select {

    width:80px;

    background-color: #FFDDAE;

    border: none;

    color:#fff;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    margin: 4px;

    cursor: pointer;

}

.main .no_coupon {
	text-align: center;
}

.main .a_container {
	text-align: center;
	margin: 20px 0px;
}