@charset "UTF-8";

.body{
	margin: 0;
}

li{
	text-decoration: none;
}

.header {
	width: 1000px;
	height: 120px;
	display: flex;
	flex: auto;
	justify-content: space-between;
	position:relative;
	margin: 0 auto;
}

.site_logo{
	width: auto;
	height: 100px;
	padding: 10px 0 0 30px;
}

.menu_wrap{
	padding-top: 45px;
}

.menu_wrap a, #drop_menu span{
	color: black;
	text-decoration: none;
	font-size: 17px;
	margin-right: 40px;
}


#drop_menu{
	display: inline-block;
	position: relative;
}

#drop_menu span{
	display: block;
	cursor: pointer;
}

#drop_menu ul{
	display: none;
	float: left;
	position: absolute;
	width: 173px;
	line-height: 2;
	background-color: white;
	padding: 30px 0 20px 33px;
	left: -33px;
	z-index: 1;
}

#drop_menu ul li{
	list-style: none;
}

#drop_menu ul li a{
	margin-left: 0;
}

.footer {
	width: 100%;
	background-color: orange;
	padding: 50px 0 70px 0;
	margin-top: 100px;
}

.footer_wrap{
	display: flex;
	flex: auto;
	justify-content: space-between;
	width: 1000px;
	margin: 0 auto;
}

.footer .left {
	width: 70%;
}

.footer .left .info {
	color: white;
	line-height: 30px;
}

.sns_group{
	display: flex;
}

.sns_group .icon {
    background-color: white;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border-radius: 13px;
    padding: 9px;
}
