@charset "UTF-8";

.body{
	margin: 0;
}

li{
	text-decoration: none;
}

.header {
	width: 100%;
	height: 100px;
	background-color: pink;
	display: flex;
	flex: auto;
	justify-content: space-around;
	position:relative;
	padding: 34px 0 0 20px;
}

.menu_warp a, #toggle_btn{
	color: black;
	text-decoration: none;
	margin: 30px;
	font-size: 17px;
}

.menu_warp a{
	margin-right: 40px;
}


#drop_menu{
	display: inline-block;
	position: relative;
}

#drop_menu span{
	display: block;
	margin : 0 30px;
	cursor: pointer;
}

span #toggle_btn{
	margin: 0;
}

#drop_menu ul{
	display: none;
	float: left;
	position: absolute;
	width: 173px;
	line-height: 2;
	background-color: pink;
	padding: 30px 0 20px 31px;
}

#drop_menu ul li{
	list-style: none;
}

#drop_menu ul li a{
	margin-left: 0;
}

.footer {
	width: 100%;
	background-color: orange;
	padding: 50px 40px 70px 40px;
	display: flex;
	flex: auto;
	justify-content: space-around;
	margin-top: 100px;
}

.footer .left {
	width: 70%;
	padding-right: 100px;
}

.footer .left .info {
	color: white;
	line-height: 30px;
}

.footer .right {
	padding-right: 100px;
	padding-top: 20px;
}

.footer .right .sns_group{
	display: flex;
}

.footer .right .sns_group .icon {
	background-color: white;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border-radius: 15px;
}
