@charset "UTF-8";
table, ul, li, h3 {
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}

h3{
	border-bottom: 2px solid;
}

.review_star .off::before{
	content: url("star_empty.png");
	color: white;
}
.review_star .on::after{
	content: url("star_full.png");
}
.member_review .review_info, .review_content, .review_btn {
	text-align: left;
}
.member_review .review_info {
	padding: 20px 0;
	color: #777777;
}
.review_content .review_img {
	padding-bottom: 20px;
}
.review_content .review_star, .review_text ul {
	display: flex;
}
.review_content ul {
	padding-bottom: 20px;
}
.review_text #review_title {
	border: 1px solid #e5e5e5;
	width: 500px;
}
.review_text #review_cont {
	border: 1px solid #e5e5e5;
	height: 200px;
	width: 580px;
}