@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

.member_container {
	font-family:'Noto Sans KR', sans-serif;
	margin: 50px 0;
	text-align: center;
}

.member_content {
	display: flex;
	margin: 20px 0;
}

/* nav_menu css */
.nav_menu_x768, .nav_menu_x576 {
	display: none;
}
.nav_menu{
	border: 1px solid #e5e5e5;
	margin-top: 30px;
	margin-right: 20px;
	width: 200px;
	height: 500px;
}
.nav_menu .y {
	font-weight: bold;
}
.nav_menu .n {
	font-weight: normal;
}
.nav_menu li {
	padding: 20px 0;
	border-bottom: 1px solid #e5e5e5;
}
.nav_menu #info_display li {
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 0;
}
.nav_menu #info_display li:hover {
	background: #ffddae;
}
.nav_menu .off{
	display: none;
}
.nav_menu .on{
	display: "";
}

/* member_order, member_review css */
.member_order, .member_orderDetail, .member_coupon, .member_reviewCont, .member_review, 
.member_qna, .member_like, .member_info, .member_delete, .member_recent, .member_sns {
	margin-left: 30px;
	width: 100%;
}
.order_bar_x576 {
	display: none;
}
.member_order #headName {
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 2px solid;
}

.member_order .select_day {
	padding: 20px 0;
	margin-top: 35px;
	display: flex;
}
.member_order .select_day .select_button {
	padding: 4px 20px 0 0;
	display: flex;
}
.member_order .select_day .select_date {
	display: flex;
}
.member_order .select_day li {
	padding: 0 10px;
}
.member_order .select_day #orderFirst, #orderLast {
	font-family:'Noto Sans KR', sans-serif;
	border: 1px solid #ccc;
}
.member_order .select_button li {
	padding: 0;
}
.member_order .select_button a {
	padding: 4px 10px;
}
.member_order .select_day .on {
	border : 1px solid black;
}
.member_order .select_day .off {
	border: 1px solid #ccc;
	color: #666;
}
.member_order #search_btn {
	padding: 0 25px;
	background: transparent;
	font-family:'Noto Sans KR', sans-serif;
}
.member_order .order_bar {
	width: 100%;
}
.member_order .order_bar #tablecont:hover{
	background: #ffddae;
}
.member_order .order_bar th{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.member_order .order_bar td{
	padding: 10px;
}
.member_order .order_bar #orderinfo {
	width: 40%;
}
.member_order .order_bar #orderno, #orderdate, #orderstatus, #orderprice {
	width: 15%;
}
.member_order .order_bar ul {
	display: flex;
}
.member_order .order_bar img {
	width: 100px;
	height: 80px;
}
.member_order .order_bar .proname {
	padding: 30px 20px;
}
.member_order .order_bar #noHistory {
	padding-top: 50px;
	text-align: center;
}


/* member_orderDetail css */
.member_orderDetail .order_detail h3{
	padding: 0 0 20px;
	text-align: left;
}
.member_orderDetail .order_deliver {
	width: 50%;
}

.member_orderDetail .order_deliver h3 {
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	align-items: center;
}
.member_orderDetail .order_detail ul {
	display: flex;
}
.member_orderDetail .order_detail #tag {
	padding: 15px 30px 15px 0;
	font-size: 16px;
}
.member_orderDetail .order_detail #title {
	font-weight: bold;
	padding-right: 10px;
}
.order_detail .orderD_bar th{
	padding: 10px;
	border-top: 2px solid;
	border-bottom: 1px solid #ccc;
}
.order_detail .orderD_bar td{
	padding: 10px;
}
.order_detail .orderD_bar #orderinfo {
	width: 46%;
}
.order_detail .orderD_bar #ordercoupon, #orderday, #orderprice {
	width: 18%;
}
.order_detail .orderD_bar ul {
	display: flex;
}
.order_detail .orderD_bar img {
	width: 100px;
	height: 80px;
	padding-left: 10px;
}
.order_detail .orderD_bar .proname {
	padding-left: 20px;
	text-align: left;
}
.order_deliver .orderD_bar {
	margin-top: 20px;
	text-align: left;
}
.order_deliver .orderD_bar tr{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.order_deliver .orderD_bar td{
	padding: 10px;
}

/*member_coupon css */
.member_coupon h3{
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 2px solid;
	margin-bottom: 0;
}
.member_coupon .coupon_bar #name, #range {
	width: 30%;
}
.member_coupon .coupon_bar #num, #money {
	width: 20%;
}
.member_coupon .coupon_bar th{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.member_coupon .coupon_bar td{
	padding: 10px;
}
.member_coupon #noCoupon {
	padding-top: 50px;
	text-align: center;
}

/* member_review css */
 
.member_review h3, .member_reviewCont h3{
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 2px solid;
}
.member_review #review_btn, .member_reviewCont #review_btn {
	padding: 0 25px;
	background: transparent;
	font-family:'Noto Sans KR', sans-serif;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: blue;
}
.member_review .select_day {
	padding: 20px 0;
	margin-top: 35px;
	display: flex;
}
.member_review .select_day .select_button {
	padding: 4px 20px 0 0;
	display: flex;
}
.member_review .select_day li {
	padding: 0 10px;
}
.member_review .select_day #orderFirst, #orderLast {
	font-family:'Noto Sans KR', sans-serif;
	border: 1px solid #ccc;
}
.member_review .select_button li {
	padding: 0;
}
.member_review .select_button a {
	padding: 4px 10px;
}
.member_review .select_day .select_date {
	display: flex;
}
.member_review .select_day .on {
	border : 1px solid black;
}
.member_review .select_day .off {
	border: 1px solid #ccc;
	color: #666;
}
.member_review #search_btn {
	padding: 0 25px;
	background: transparent;
	font-family:'Noto Sans KR', sans-serif;
}
.member_review .review_bar #info,#date {
	width: 30%;
}
.member_review .review_bar #review {
	width: 40%;
}
.member_review .review_bar th{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.member_review .review_bar td{
	padding: 10px;
}
.member_review .review_bar ul {
	display: flex;
}
.member_review .review_bar img {
	width: 100px;
	height: 80px;
	padding-left: 10px;
}
.member_review .review_bar .proname {
	padding: 10px 20px;
	text-align: left;
}
.member_review .review_bar #reviewInfo,#reviewDate {
	width: 30%;
}
.member_review .review_bar #review {
	width: 40%;
}
.member_review .review_bar #reviewImg {
	padding-left: 20px;
}
.member_review #review_btn {
	padding: 0 25px;
	background: transparent;
	font-family:'Noto Sans KR', sans-serif;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: blue;
}

.member_reviewCont .review_bar img {
	width: 100px;
	height: 80px;
	padding-left: 10px;
}
.member_review #noHistory {
	padding-top: 50px;
	text-align: center;
}
.member_reviewCont .review_bar {
	padding: 20px 10px;
}
.member_reviewCont .review_bar th {
	width: 15%;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.member_reviewCont .review_bar td {
	width: 85%;
	padding: 10px 0;
	text-align: left;
	border-bottom: 1px solid #ccc;
}


/* member_review_write css */
.review_star .off::before{
	content: url("../img/member/star_empty.png");
	color: white;
}
.review_star .on::after{
	content: url("../img/member/star_full.png");
}

.member_review .review_info, .review_content, .review_btn {
	text-align: left;
}
.member_review .review_info {
	padding: 20px 0;
	color: #777777;
}
.review_content .review_img {
	padding-bottom: 20px;
}
.review_content .review_star, .review_text ul {
	display: flex;
}
.review_content #reviewTag {
	padding-right: 20px;
}
.review_content ul {
	padding-bottom: 20px;
}
.review_text #review_title {
	border: 1px solid #e5e5e5;
	width: 500px;
}
.review_text #review_cont {
	border: 1px solid #e5e5e5;
	height: 200px;
	width: 700px;
}

/* member_productLike css */
.member_like h3{
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 2px solid;
}
.member_like #allList{
	padding-top: 25px;
	display: flex;
	flex-wrap: wrap;
}
.member_like #allList #box{
	display: flex;
	width: 450px;
	padding-bottom: 20px;
}

.member_like #stepList {
	padding: 0 20px;
	text-align: left;
}
.member_like #stepList .pro-name, #stepList .pro-price{
	font-weight: bold;
}
.member_like #heart {
	color: red;
}
.member_like img{
	width: 140px;
	height: 125px;
	padding-left: 10px;
}
.member_like #noLike {
	padding-top: 50px;
	text-align: center;
}

/* member_qna css */

.member_qna .off{
	display: none;
}

.member_qna h3, .member_reviewCont h3{
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 2px solid;
	margin-bottom: 0;
}
.member_qna .qna_bar {
	width: 100%;
}
.member_qna .qna_bar #tablecont:hover{
	background: #ffddae;
}
.member_qna .qna_bar th{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.member_qna .qna_bar td{
	padding: 10px;
}
.member_qna .qna_bar #qnainfo, #qnatitle{
	width: 30%;
}
.member_qna .qna_bar #qnacate, #qnadate {
	width: 20%;
}
.member_qna .qna_bar ul {
	display: flex;
	padding-left: 20px;
}
.member_qna .qna_bar img {
	width: 100px;
	height: 80px;
}
.member_qna .qna_bar .proname {
	padding: 30px 20px;
}
.member_qna .qna_bar #noHistory {
	padding-top: 50px;
	text-align: center;
}
.member_qna .on td {
	padding-top: 20px 0;
}

/* member_info css */
.member_info #headName, .member_delete #headName, .member_sns #headName{
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 2px solid;
}
.member_info ul {
	padding-left: 10px;
}
.member_info #tag {
	width: 250px;
}
.member_info #cont {
	width: 450px;
	display: inline-block;
}
.member_info li {
	text-align: left;
	padding: 10px 0;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
}
.member_info #addr_btn, .member_info #phone_btn, .member_info #addr_edit_btn, #pwd_btn {
	background: transparent;
	padding: 0 10px;
	cursor: pointer;
	border: 1px solid #e5e5e5;
}
.member_info #submit_btnA, #reset_btnA, #submit_btnP, #reset_btnP, #submit_btnPwd, #reset_btnPwd {
	background: #f1f1f1;
	padding: 0 10px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}
.member_info #submit_btnA:hover, #submit_btnP:hover, #submit_btnPwd:hover {
	color: white;
	background: black;
	border: 1px solid black;
}
.member_info #reset_btnA:hover, #reset_btnP:hover, #reset_btnPWd:hover{
	background: #ccc;
	border: 1px solid #ccc;
}
.member_info #addr_edit_btn{
	margin-bottom: 10px;
}
.member_info #addr_btn:hover, .member_info #phone_btn:hover, .member_info #submit_btnA:hover, #addr_edit_btn:hover, #pwd_btn:hover {
	border: 1px solid black;
}
.member_info .off {
	display: none;
}
.member_info .on {
	display: "";
}
.member_info #sample6_postcode {
	border: 1px solid #e5e5e5;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.member_info #sample6_address {
	width: 400px;
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
}
.member_info #sample6_detailAddress {
	width: 400px;
	margin-right: 50px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.member_info #phone {
	border: 1px solid #e5e5e5;
	text-align: center;
}
.member_info #pwd_edit{
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.member_info #pwdinfo {
	color: #ccc;
	font-size: 16px;
}
.member_info #pwd_after p{
	padding-bottom: 5px;
}
.member_info #phone_num {
	width: 450px;
	display: inline-block;
}


/* member_delete css */
.member_delete #infoHead{
	font-size: 20px;
	padding: 20px 0 10px;
}
.member_delete #infoTitle{
	font-weight: bold;
	padding-top: 10px;
}
.member_delete .deleteInfo {
	text-align: left;
}
.member_delete .agreeCheck {
	text-align: left;
	padding: 15px 0;
}
.member_delete input[id="agreeC"]:checked {
	color: red;
}
.member_delete input[id="agreeC"] {
	display: none;
}
.member_delete input[id="agreeC"]+label {
	cursor: pointer;
}
.member_delete input[id="agreeC"]+label:before {
	content: url("../img/member/ico_chk.png");
	margin-right: 20px;
}
input[id="agreeC"]:checked + label:before {
	content: url("../img/member/ico_chk_on.png");
}
.member_delete .deleteBox {
	margin-top: 40px;
	padding: 20px 10px;
	border-top: 1px solid #666;
}
.deleteBox .delete_pwd {
	text-align: left;
}
.deleteBox .delete_pwd span {
	padding-right: 20px;
}
.deleteBox .delete_pwd #pwdBox {
	border: 1px solid #e5e5e5;
}
.member_delete #deleteBtn {
	background: transparent;
	padding: 0 10px;
	cursor: pointer;
	border: 1px solid ;
}

/* member_sns css */
.member_sns .snsBlock{
	margin-top: 80px;
}
.member_sns #naverChkOff {
	background: url("../img/member/naver.png") no-repeat;
	display: inline-block;
	width: 335px;
    height: 60px;
    font-weight: normal;
    line-height: 52px;
    color: #222;
    letter-spacing: -0.3px;
    text-align: left;
    vertical-align: top;
    cursor: pointer;
}
.member_sns #snsCheck {
	right: 45px;
	top: 10px;
	position: relative;
}
.member_sns #naver_checkOff, #kakao_checkOff, #kakao_checkOn, #naver_checkOn {
	opacity: 0;
}
.member_sns #naverChkOff span, #kakaoChkOff span{
	padding-left: 80px;
}
.member_sns #kakaoChkOff {
	background: url("../img/member/kakaoOff.png") no-repeat;
	display: inline-block;
	width: 335px;
    height: 60px;
    font-weight: normal;
    line-height: 52px;
    color: #222;
    letter-spacing: -0.3px;
    text-align: left;
    vertical-align: top;
    cursor: pointer;
}

.member_sns #naverChkOn span, #kakaoChkOn span{
	padding-left: 75px;
}
.member_sns #naverChkOn {
	background: url("../img/member/naverOn.png") no-repeat;
	display: inline-block;
	width: 335px;
    height: 60px;
    font-weight: normal;
    line-height: 52px;
    color: #222;
    letter-spacing: -0.3px;
    text-align: left;
    vertical-align: top;
    cursor: pointer;
}
.member_sns #kakaoChkOn {
	background: url("../img/member/kakaoOn.png") no-repeat;
	display: inline-block;
	width: 335px;
    height: 60px;
    font-weight: normal;
    line-height: 52px;
    color: #222;
    letter-spacing: -0.3px;
    text-align: left;
    vertical-align: top;
    cursor: pointer;
}
.member_sns #naverChkOn span{
	padding-left: 80px;
	color: white;
}
.member_sns #kakaoChkOn span{
	padding-left: 80px;
}
/* member_recent css */
.member_recent h3{
	padding: 0 0 20px;
	text-align: left;
	border-bottom: 2px solid;
}
.member_recent #allList{
	padding-top: 25px;
	display: flex;
	flex-wrap: wrap;
}
.member_recent #allList #box{
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	width: 240px;
}
.member_recent img{
	width: 140px;
	height: 125px;
	padding-left: 10px;
}
.member_recent input[type="submit"] {
	font-family: "Font Awesome 5 Free";
}
.member_recent #noHistory {
	padding-top: 50px;
	text-align: center;
}
/* member_home css */


/* 반응형 */
@media screen and (max-width : 768px) { 
	
	.member_content {
    	display: inline;
    	font-size: 15px;
    }
    th, td, p, span{
    	font-size: 15px;
    }
    input[type="button"], input[type="submit"], input[type="text"], input[type="date"] {
		font-size: 15px;
	}
	.nav_menu {
		display: none;
	}
	.nav_menu_x768 {
		display: block;
		border: 1px solid #e5e5e5;
		margin: 0 0 0 30px;
		width: 90%;
		height: 84px;
	}
	.nav_menu_x768 #nav_ul_x768 {
		display: flex;
	}
	.nav_menu_x768 #nav_ul_x768 a {
		width: 20%;
	}
	.nav_menu_x768 li {
		padding: 30px 5px;
		border-bottom: 0;
	}
	.nav_menu_x768 li:hover {
		background: #ffddae;
	}
    
    .member_order, .member_review {
    	width: 90%;
    	text-align: left;
    	padding-top: 25px;
    }
    .member_order .select_day, .member_review .select_day {
    	display: inline-block;
    	margin: 0;
    	padding: 0 0 30px;
    }
    .member_order .select_day li, .member_review .select_day li{
    	padding: 0;
    }
    .member_order .select_day .select_button, .member_review .select_day .select_button {
    	padding: 20px 0;
    }
	.member_order .select_date #searchBtn, .member_review .select_day #searchBtn {
		padding-left: 20px;
	}

    .member_order .order_bar th, .order_bar td, .member_review .review_bar th, .member_review .review_bar td {
   		text-align: center;
   	}
   	img {
   		width: 95px;
    	height: 75px;
    	padding-left: 30px;
   	}
   	.member_order .order_bar #orderno {
   		width: 5%;
   	}
   	.member_order .order_bar #orderstatus, #orderdate {
   		width: 20%;
   	}
   	.member_order .order_bar #orderprice {
   		width: 15%;
   	}
   	.member_order .order_bar #orderinfo {
   		width: 40%;
   	}
   	
   	.member_coupon, .member_delete, .member_qna, .member_recent, .member_reviewCont, .member_info, .member_orderDetail, .member_like, .member_sns{
    	width: 90%;
    	font-size: 15px;
    	padding-top: 25px;
    }
    .member_recent #allList #box{
		width: 200px;
	}
	
	.member_info #tag {
		width: 180px;
	}
	
	.member_info #cont, .member_info #phone_num {
		width: 320px;
		display: inline-block;
	}
	
	.member_info #pwd_after p {
		width: 380px;
	}
	.member_orderDetail .order_deliver {
		width: 100%;
	}
	
}
@media screen and (max-width : 576px) {
	.nav_menu_x768 {
		display: none;
	}
	.nav_menu_x576 {
		display: block;
		text-align: left;
		margin: 10px 30px;
		padding-bottom: 20px;
	}
	.nav_menu_x576 li {
		padding: 10px 0;
	}
	.nav_menu_x576 li:hover {
		background: #ffddae;
	}

	.member_order .order_bar {
		width: 90%;
	}
	.order_bar {
		display: none;
	}
	.order_bar_x576 {
		display: block;
	}
	.member_order .order_bar_x576 {
		width: 100%;
	}
	.member_order .order_bar_x576 #tablecont:hover{
		background: #ffddae;
	}
	.member_order .order_bar_x576 th{
		padding: 10px;
		border-bottom: 1px solid #ccc;
	}
	.member_order .order_bar_x576 td{
		padding: 10px;
	}
	.member_order .order_bar_x576 #orderinfo {
		width: 40%;
	}
	.member_order .order_bar_x576 #orderno, #orderdate, #orderstatus, #orderprice {
		width: 15%;
	}
	.member_order .order_bar_x576 ul {
		display: flex;
	}
	.member_order .order_bar_x576 img {
		width: 100px;
		height: 80px;
	}
	.member_order .order_bar_x576 .proname {
		padding: 30px 0 30px 20px;
	}
	.member_order .order_bar_x576 #noHistory {
		padding-top: 50px;
		text-align: center;
	}
	.member_order .order_bar_x576 #orderno {
   		width: 5%;
   	}
   	.member_order .order_bar_x576  #orderstatus, #orderdate {
   		width: 30%;
   	}
   	.member_order .order_bar_x576  #orderinfo {
   		width: 35%;
   	}
   	 .member_order .order_bar_x576  th, .order_bar_x576  td {
   		font-size: 15px;
   		text-align: center;
   	}
   	img {
   		width: 85px;
    	height: 65px;
    	padding-left: 0;
   	}
   	.member_orderDetail .order_detail {
   		width: 90%;
   	}
   	.member_qna .qna_bar td, .order_detail .orderD_bar td {
   		padding: 10px 0;
   	}
   	.member_qna .qna_bar img {
   		width: 85px;
    	height: 65px;
   	}
   	.member_info #tag {
		width: 150px;
	}
   	.on, .off{
   		width: 308px;
   	}
   	.member_info #pwd_after p {
   		width: 300px;
   	}
	.member_info #pwd_before #cont, #phone_before #cont {
		display: inline-block;
		width: 180px;
	}
	.member_info #addr_before #cont {
		display: inline-block;
		width: 180px;
		padding-right: 8px;
	}
	.member_info #phone_num{
		display: block;
		margin-bottom: 10px;
	}

	
}




