@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

.up-arrow {
	position: fixed;
	bottom: 100px;
	right: 100px;
	font-size: 30px;
	color: #FF8F1C;
}

/* product_list */
.page-wrapper {
	display: inline-flex;
	margin: 0 auto;
}

.category {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.category ul li {
	margin-bottom: 10px;
}

.category a {
	text-decoration: none;
	color: black;
}

.category a:hover, .cate-selected {
	color: #FF8F1C;	
	font-weight: bold;
}

.pro-name:hover {
	color: #FF8F1C;	
}

.category-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.product-wrapper {
	width: 1000px;
	padding: 0 70px;
}
	
.product {
	position: relative;
	display: inline-block;
	margin: 10px 15px 20px;
	width: 250px;
	height: 350px;
	text-align: center;
}

.product img {
	width: 250px;
	height: 250px;
	margin: 0 0 10px 0;
}

.pro-name {
	margin-bottom: 3px;
}

.product a {
	text-decoration: none;
	display: inline-block;
}

.product-info {
	display: inline-block;
	text-align: center;
}

.pro-price {
	font-weight: bold;
	line-height: 1.8;
}

.like-wrapper {
	position: absolute;
	bottom: 110px;
	right: 10px;
}

.like-btn {
	padding: 0px 5px;
	color: #FFF;
	font-size: 30px;
}

.like-btn:hover {
	color: red;
	transition: all 0.3s;
}

.like-checked {
	color: red;
}

.pagination {
	margin: 30px 0;
	text-align: center;	
}

.page-btn {
	padding: 5px 13px;
	border: 1px solid #FF8F1C;
	background-color: #FFF;
	color: #FF8F1C;
}

.page-selected, .page-btn:hover {
	padding: 5px 13px;
	border: 1px solid #FF8F1C;
	background-color: #FF8F1C;
	color: #FFF;
	transition: all 0.5s;
}



/* recent */
.recent {
	position: fixed;
	width: 180px;
	height: 700px;
	top: 15%;
	right: 10px;
	background-color: #FFF;
	margin: 0;
	z-index: 1;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #EEE;
}

.recent p {
	text-align: right;
	margin: 0;
	padding: 0;
}

.recent button {
	border: 0;
	background-color: transparent !important;
	color: #CCC;
}

.recent-title {
	margin: 0px auto 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.recent-pro {
	margin-bottom: 10px;
	background-color: #FFF;	
}

.recent-pro img{
	width: 150px;
	height: 150px;
}

.recent-name {
	display: block;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.recent-price {
	display: inline-block;
	font-size: 13px;
	color: gray;
}


/* 
product_recent
.history-title {
	display: inline-block;
	text-align: left;
	font-weight: bold;
	margin: 100px auto 50px;
	font-size: 30px;
	margin: 30px;
	color: black;
}

.cart-size {
	font-weight: normal;
}

.history-wrap hr {
	background-color: #CCC;
	margin-right: 30px;
	margin-left: 30px;
}

.history-wrap ul {
	padding-left: 0;
	margin-right: 30px;
	margin-left: 30px;
	list-style: none;
}

.history-wrap ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #CCC;
}

.history {
	padding-top: 10px;
	padding-bottom: 10px;
}

.history img {
	width: 100px;
	height: 100px;
	display: inline-block;
}

.pro-content {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	width: 600px;
}

.pro-content a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.pro-content span {
	font-size: 13px;
	color: #CCC;
}

.cart-price {
	display: inline-block;
	vertical-align: top;
}

.pro-btn {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

.pro-cancel {
	display: inline-block;
	float: right;
	vertical-align: middle;
}

 */

/* product_cont */
.product-cont {
	margin: 100px auto 50px;
	display: inline-flex;
}

.product-container {
	display: flex;
	padding: 0 10px;
	margin-bottom: 50px;
}

.cont-photo-wrap {
	display: inline-block;
}

.cont-photo {
	width: 555px;
	height: 555px;
}

.cont-photo-mini img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

.cont-info {
	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
	width: 600px;
	height: 555px;
}

.info-wrapper {
	height: 300px;
	width: 500px;
}

.info-wrapper table {
	margin: 10px 0;
	vertical-align: bottom;
}

.info-wrapper table tr {
	display: block;
	margin: 5px 0;
	padding: 0;
}

.info-wrapper table tr th {
	border-right-color: black;
	padding-right: 20px;
	font-weight: bold;
}

.shipping {
	font-size: 15px;	
}

.text {
	font-size: 13px;
	color: #AAA;
}

.cont-info-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 100px;
}

.cont-info-price {
	margin-top: 50px;
	font-size: 25px;
	font-weight: bold;
	color: red;
}

.cont-info-tag {
	font-size: 15px;
	color: #FF8F1C;
}

.cont-amount {
	display: inline-block;
	background-color: #F5F5F5;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	height: 40px;
}

.cont-amount i {
	font-size: 13px;
}

.cart_amount {
	display: inline-block;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	width: 70px;
	height: 36px;
	text-align: center;
	font-size: 15px;
}

.cont-total {
	margin: 20px 0px;
	padding-top: 10px;
	border-top: 1px solid black;
}

.cont-total .total-title {
	font-weight: bold;
}

.cont-total .total-wrapper {
	float: right;
}

.cont-total .total-amount {
	font-size: 13px;
	color: #AAA;
}

.cont-total .total-price {
	font-weight: bold;
	
}

.btn-wrapper {
	width: 550px;
}

.cont-btn {
	padding: 8px;
	border-radius: 30px;
	text-align: center;
	width: 240px;
	height: 60px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	border: solid 2px #FF8F1C;
}

.btn-cart {
	color: #FF8F1C;
	background-color: #FFF;
}

.btn-purchase {
	background-color: #FF8F1C;
}

.btn-wrapper {
	vertical-align: bottom;
}

.btn-wrapper .like-btn {
	height: 60px;
	text-align: center;
	font-size: 40px;
	color: #EEE;
	font-weight: bold;
	cursor: pointer;
	vertical-align: top;
}

.btn-wrapper .like-btn:hover {
	color: red;
}

.btn-wrapper .like-checked {
	color: red;
}

.hr1 {
	border: 1px inset #F5F5F5;
	margin-bottom: 20px;
}


.content-wrapper {
	margin: 80px 0;
	display: flex-row;
}

.product-content {
	padding: 50px 0;
	text-align: center;
	border-bottom-color: #F5F5F5;
}

.content-category {
	font-size: 15px;
	margin: 5px 30px;
}

.product-content hr {
	background-color: #CCC;
	margin-bottom: 30px 0;
}

.content-detail {
	padding-bottom: 150px;
	display: block;
	width: 1000px;
	margin: 0 auto;
}

.cont-reveiw {
	margin: 50px 0;
}

.table-title {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

.hr2 {
	margin: 10px 0 10px;	
}


/* product_cont - review */
.review {
	padding: 10px;
}

.cont-li li {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin-top: -1px;
}

.cont-li li:first-child {
	border-top: 0;	
}

.cont-li li:last-child {
	border-bottom: 0;
}

.review-star .review-number {
	display: inline-block;
	font-size: 10px;
	color: #CCC;
}

.review-number {
	font-size: 13px;
}

.photo-only {
	float: right;
	font-size: 15px;
	vertical-align: bottom;
}

.cont-board ul {
	list-style: none;
	padding-left: 0;
}

.review-wrap {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.star-selected{
	color: #FF8F1C;
	padding-bottom: 10px;
}

.star-deseleted {
	color: #EEE;
	padding-bottom: 10px;
}

.mem-id {
	color: #AAA;
}

.review-div {
	display: flex;
}

.cont-div {
	display: flex-row;
}

.review-imgs {
	display: flex-row;
	width: 160px;
}

.review-cont {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	width: 1000px;
	height: 5m;
	white-space:pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.review-detail-cont {
	white-space:pre-wrap;
}

.list-img {
	float: right;
	vertical-align: middle;
	width: 110px;
	height: 110px;
}

.review {
}

.review:last-child {
}

.write {
	float: right;
}

.cont-pagination {
	text-align: center;
}


/* product_cont - qna */
.cont-board {
	padding-top: 100px;
}

.qna {
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
}

.qna-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.qna-table {
	border-collapse: collapse;
	margin-top: 10px;
}

.qna-table tr th {
	font-weight: bold;
	padding: 10px 5px;
	border-top: 1px solid;
}

.qna-table tr td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid #C0C0C0;
}

.qna-state, .qna-writer, .qna-date {
	text-align: center;
}

.qna-state {
	width: 10%;
}

.state-ok, .state-no {
	font-size: 13px;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: bold;
}

.state-ok {
	border: 2px solid #ABD037;
	color: #ABD037;
}

.state-no {
	border: 2px solid #FF8F1C;
	color: #FF8F1C;
}

.qna-title {
	width: 60%;
	padding-left: 50px;
}

.qna-writer {
	width: 10%;
}

.qna-date {
	width: 10%;
}

.qna-cont {
	white-space:pre;
}

.qna-ans td {
	background-color: #F5F5F5;
}

.qna-answer-wrapper {
	display: flex;
}

.qna-answer, .qna-answer-title {
	display: flex-row;
}

.qna-answer {
	width: 100%;
}

.qna-btn {
	display: flex-row;
	float: right;
}

.answer-tag {
	background-color: #39373A;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	padding: 5px 10px;
	margin-right: 10px;
}

.no-qna {
	text-align: center;
	padding: 15px 0;
}


/* qna 작성 팝업창 */
.product-qna-form{
	width: 400px;
	margin: 30px auto 0 auto;
}

.form-title {
	font-size: 25px; 
	font-weight: 700;
	margin-bottom: 10px;
	padding: 0;
}

.qna-product {
	height: 100px;
	margin-bottom: 20px;
}

.qna-product tr td, .qna-product tr th {
	border-bottom: 1px solid #C0C0C0;
}

.qna-product tr th {
	font-weight: bold;
	font-size: 14px;
	border-top: 1px solid;
	padding: 10px 2px;
}

.qna-product tr td {
	padding: 10px 5px;
}

.qna-product img {
	width: 70px;
	height: 70px;
}

.qna-info {
	width: 70%;
}

.qna-pro-content {
	display: inline-block;
	padding-left: 20px;
}

.qna-price {
	width: 30%;
	text-align: center;
}

.qna-form {
	width: 400px;
}

.qna-form tr td, .qna-form tr th {
	padding: 5px 5px;
}

.qna-form tr th {
	width: 10%;
	font-size: 15px;
}

.qna-form input[name="qna_title"], .qna-form textarea {
	width: 99%;
    border: solid 1px #C0C0C0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.qna-form input[name="qna_title"] {
	height: 30px;
	font-family: sans-serif;
}

.qna-form textarea {
	height: 130px;
	font-family: sans-serif;
}

.qna-form input[name="qna_title"]::placeholder, .qna-form textarea::placeholder {
	font-weight: none;
	text-decoration: none;
	color: #C0C0C0;
}

.qna-form-cont {
	font-size: 15px;
}

.qna-caution {
	margin-top: 15px;
	width: 100%;
	position: relative;
	font-size: 13px;
	padding: 10px 5px 20px 10px;
	background-color: #F5F5F5;
	white-space: pre-line;
}

.qna-form-btn {
	width: 49%;
    padding: 8px;
    font-size: 15px;
    margin: 10px 0 10px 0;
    border-radius: 30px;
    border: solid 2px #ABD037;
    background-color: white;
    color: #ABD037;
    cursor: pointer;
}

.form-cancel {
	border: solid 2px #ABD037;
	background-color: #FFF;
    color: #ABD037;
}

.form-submit {
	border: solid 2px #ABD037;
	background-color: #ABD037;
    color: #FFF;
}

.qna-origin {
	border-radius: 10px;
	font-size: 15px;
	padding: 10px 15px;
}

.qna-origin-cont {
	white-space: pre-line;
}

.qna-hr {
	width: 100%;
}

.fieldset {
	border: 1px solid #ABD037;
	border-radius: 10px;
	margin-bottom: 20px;
}

.fieldset legend {
	font-size: 15px;
}


/* cart */
.history {
	display: flex;
	vertical-align: center;
}

.history-title {
	text-align: left;
	font-weight: bold;
	margin: 5px auto 50px;
	font-size: 30px;
	color: black;
}

.cart-size {
	font-weight: normal;
}

.history-wrap {
	margin-bottom: 200px;
}

.history-wrap hr {
	background-color: #CCC;
	margin-right: 30px;
	margin-left: 30px;
}

.history-wrap ul {
	padding-left: 0;
	list-style: none;
}

.history-wrap ul li {
	padding: 20px 0; 
	border-bottom: solid 1px #EEE;
}

.history img {
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: center;
}

.cart-title {
	text-align: center;
	font-weight: bold;
}

.pro-check, .cart-price, .pro-btn, .pro-total, .pro-cancel {
	text-align: center;
}

.cart-in {
	height: 100px;
	line-height: 100px;
	vertical-align: center;
}

.pro-check {
	display: inline-block;
	text-align: left;
	width: 30px;
}

.pro-cont {
	display: inline-block;
	width: 650px;
	margin: 0 auto;
	padding-left: 20px;
}

.pro-content {
	display: inline-block;
	padding-left: 20px;
	padding-top: 10px;
}

.cart-name {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.cart-tag {
	font-size: 13px;
	color: #FF8F1C;
	padding-left: 1px;
}

.cart-price {
	display: inline-block;
	width: 180px;
}

.pro-btn {
	display: inline-block;
	width: 180px;
}

.pro-btn i {
	font-size: 13px;
}

.pro-total{
	display: inline-block;
	width: 180px;
}

.pro-cancel {
	display: inline-block;
	float: right;
	width: 50px;
	text-align: right;
}

.pro-cancel i {
	color: #AAA;
}

.price-amount-wrap {
	text-align: right;
	font-weight: bold;
}

.price-amount {
	font-size: 23px;
}

.pro-amount {
	
}

.cart-btn {
	width: 500px;
	float: right;
}

.order-btn {
	float: right;
	width: 300px;
    padding: 12px;
    font-size: 20px;
    margin: 10px 0 10px 10px;
    border-radius: 30px;
    border: solid 2px #FF8F1C;
    cursor: pointer;
}

.order-all {
	background-color: #FF8F1C;
    color: #FFF;
}

.order-selected {
	background-color: #FFF;
    color: #FF8F1C;
}

.cart-del {
	float: left;
}

.cart-del button {
	background-color: #39373A;
	border-radius: 5px;
	color: #FFF;
	font-size: 15px;
	padding: 5px 8px;
	margin: 10px 5px 0 0;
	
}

.cart-info {
	width: 500px;
	height: 100px;
	background-color: #F5F5F5;
	float: left;
}

.search-box {
	width: 1110px;
	margin: 0 15px 30px;
	height: 50px;
	border: 2px solid #ABD037;
	border-radius: 30px;
	background-color: #FFF;
}

.fa-search {
	font-size: 25px;
	padding: 10px 10px 20px 10px;
}

.search {
	border: none;
	width: 90%;
	-moz-appearance: none;
    -webkit-appearance: textfield;
    appearance: none; 
}

