@charset "UTF-8";

.up-arrow {
	position: fixed;
	bottom: 100px;
	right: 100px;
	font-size: 30px;
	color: #FF8F1C;
}

/* product_list */
.page-wrapper {
	display: inline-flex;
	margin: 0 auto;
}

.category {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.category ul li {
	margin-bottom: 10px;
}

.category a {
	text-decoration: none;
	color: black;
}

.category a:hover, .pro-name:hover, .cate-selected {
	color: #FF8F1C;	
	font-weight: bold;
}

.category-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.product-wrapper {
	width: 1000px;
	padding: 0 70px;
}
	
.product {
	position: relative;
	display: inline-block;
	margin: 10px 15px 20px;
	width: 250px;
	height: 350px;
	text-align: center;
}

.product img {
	width: 250px;
	height: 250px;
	margin: 0 0 10px 0;
	border-radius: 10px;
}

.pro-name {
	margin-bottom: 3px;
}

.product a {
	text-decoration: none;
	display: inline-block;
	color: black; 
}

.product-info {
	display: inline-block;
	text-align: center;
}

.pro-tag {
	font-size: 13px;
	color: #CCC;
	margin: 0;
	padding: 0;
}

.pro-price {
	font-weight: bold;
	line-height: 1.8;
}

.like-wrapper {
	position: absolute;
	bottom: 110px;
	right: 10px;
}

.like-btn {
	padding: 0px 5px;
	color: #FFF;
	font-size: 20px;
}

.like-btn:hover {
	color: red;
	transition: all 0.3s;
}

.like-checked {
	color: red;
}

.pagination {
	margin: 30px 0;
	text-align: center;	
}

.page-btn {
	padding: 5px 13px;
	border: 1px solid #FF8F1C;
	background-color: #FFF;
	color: #FF8F1C;
}

.page-selected, .page-btn:hover {
	padding: 5px 13px;
	border: 1px solid #FF8F1C;
	background-color: #FF8F1C;
	color: #FFF;
	transition: all 0.5s;
}



/* recent */
.recent {
	position: fixed;
	width: 180px;
	height: 700px;
	top: 15%;
	right: 10px;
	background-color: #FFF;
	margin: 0;
	z-index: 1;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #EEE;
}

.recent p {
	text-align: right;
	margin: 0;
	padding: 0;
}

.recent button {
	border: 0;
	background-color: transparent !important;
	color: #CCC;
}

.recent-title {
	margin: 0px auto 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.recent-pro {
	margin-bottom: 10px;
	background-color: #FFF;	
}

.recent-pro img{
	width: 150px;
	height: 150px;
}

.recent-name {
	display: block;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.recent-price {
	display: inline-block;
	font-size: 13px;
	color: gray;
}



/* product_recent */
.history-title {
	text-align: left;
	margin: 100px auto 50px;
	font-size: 30px;
	margin: 30px;
	color: black;
}

.history-wrap {
	
}

.history-wrap hr {
	background-color: #CCC;
	margin-right: 30px;
	margin-left: 30px;
}

.history-wrap ul {
	padding-left: 0;
	margin-right: 30px;
	margin-left: 30px;
	list-style: none;
}

.history-wrap ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #CCC;
}

.history {
	padding-top: 10px;
	padding-bottom: 10px;
}

.history img {
	width: 130px;
	height: 130px;
	display: inline-block;
}

.pro-content {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	width: 600px;
}

.pro-content a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.pro-content span {
	font-size: 13px;
	color: #CCC;
}

.pro-price {
	display: inline-block;
	vertical-align: top;
}

.pro-btn {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

.pro-cancel {
	display: inline-block;
	float: right;
	vertical-align: middle;
}



/* product_cont */
.product-cont {
	margin: 100px auto 50px;
	display: inline-flex;
}

.product-container {
	display: flex;
	padding: 0 10px;
	margin-bottom: 50px;
}

.cont-photo-wrap {
	display: inline-block;
}

.cont-photo {
	width: 555px;
	height: 555px;
}

.cont-photo-mini img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

.cont-info {
	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
	width: 600px;
	height: 555px;
}

.info-wrapper {
	height: 300px;
	width: 500px;
}

.info-wrapper table {
	margin: 10px 0;
	vertical-align: bottom;
}

.info-wrapper table tr {
	display: block;
	margin: 5px 0;
	padding: 0;
}

.info-wrapper table tr th {
	border-right-color: black;
	padding-right: 20px;
	font-weight: bold;
}

.shipping {
	font-size: 15px;	
}

.text {
	font-size: 13px;
	color: #AAA;
}

.cont-info-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 100px;
}

.cont-info-price {
	margin-top: 50px;
	font-size: 25px;
	font-weight: bold;
	color: red;
}

.cont-info-tag {
	font-size: 15px;
}

.cont-amount {
	display: inline-block;
	background-color: #F5F5F5;
	text-align: center;
	width: 130px;
	height: 40px;
}

.cart_amount {
	display: inline-block;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	width: 70px;
	height: 40px;
	text-align: center;
	font-size: 15px;
}

.cont-total {
	margin: 20px 0px;
	padding-top: 10px;
	border-top: 1px solid black;
}

.cont-total .total-title {
	font-weight: bold;
}

.cont-total .total-wrapper {
	float: right;
}

.cont-total .total-amount {
	font-size: 13px;
	color: #AAA;
}

.cont-total .total-price {
	font-weight: bold;
	
}

.btn-wrapper {
	margin: 0 auto;
	width: 550px;
}

.cont-btn {
	margin: 0 auto;
	text-align: center;
	width: 230px;
	height: 60px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}

.btn-cart {
	background-color: black;
	border: 1px solid black;
}

.btn-purchase {
	background-color: #FF8F1C;
	border: 1px solid #FF8F1C;
}

.btn-wrapper {
	vertical-align: bottom;
}

.btn-wrapper .like-btn {
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	text-align: center;
	width: 60px;
	height: 60px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}

.btn-wrapper .like-btn:hover {
	color: red;
}

.btn-wrapper .like-checked {
	color: red;
}

.hr1 {
	border: 1px inset #F5F5F5;
	margin-bottom: 20px;
}


.content-wrapper {
	margin: 80px 0;
	display: flex-row;
}

.product-content {
	padding: 50px 0;
	text-align: center;
	border-bottom-color: #F5F5F5;
}

.content-category {
	font-size: 15px;
	margin: 5px 30px;
}

.product-content hr {
	background-color: #CCC;
	margin-bottom: 30px 0;
}

.content-detail {
	padding-bottom: 150px;
}

.cont-reveiw {
	margin: 50px 0;
}

.table-title {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

.hr2 {
	margin: 20px 0 20px;	
}


/* product_cont - review */
.review {
	padding: 10px;
}

.cont-li li {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin-top: -1px;
}

.cont-li li:first-child {
	border-top: 0;	
}

.cont-li li:last-child {
	border-bottom: 0;
}

.review-star .review-number {
	display: inline-block;
	font-size: 10px;
	color: #CCC;
}

.review-number {
	font-size: 13px;
}

.photo-only {
	float: right;
	font-size: 15px;
	vertical-align: bottom;
}

.cont-board ul {
	list-style: none;
	padding-left: 0;
}

.review-wrap {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.star-selected{
	color: #FF8F1C;
	padding-bottom: 10px;
}

.star-deseleted {
	color: #EEE;
	padding-bottom: 10px;
}

.mem-id {
	color: #AAA;
}

.review-div {
	display: flex;
}

.cont-div {
	display: flex-row;
}

.review-imgs {
	display: flex-row;
	width: 160px;
}

.review-cont {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	width: 1000px;
	height: 5m;
	white-space:pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.review-detail-cont {
	white-space:pre-wrap;
}

.list-img {
	float: right;
	vertical-align: middle;
	width: 110px;
	height: 110px;
}

.review {
}

.review:last-child {
}

.write {
	float: right;
}

.cont-pagination {
	text-align: center;
}


/* product_cont - qna */
.cont-board {
	padding-top: 100px;
}

.qna {
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
}

.qna-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.qna-table {
	border-collapse: collapse;
}

.qna-table tr th {
	font-weight: bold;
	padding: 10px 5px;
}

.qna-table tr td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid #AAA;
}

.qna-state, .qna-writer, .qna-date {
	text-align: center;
}

.qna-state {
	width: 10%;
}

.qna-title {
	width: 60%;
	padding-left: 50px;
}

.qna-writer {
	width: 10%;
}

.qna-date {
	width: 10%;
}

.qna-cont {
	white-space:pre;
}

.qna-ans td {
	background-color: #F5F5F5;
}

.qna-answer-wrapper {
	display: flex;
}

.qna-answer, .qna-answer-title {
	display: flex-row;
}

.qna-answer {
	width: 100%;
}

.qna-btn {
	display: flex-row;
	float: right;
}

.answer-tag {
	background-color: #FFF;
	border-radius: 10px;
	font-size: 13px;
	padding: 5px 10px;
	margin-right: 10px;
}


/* cart */
.price-amount-wrap {
	text-align: right;
}

.pro-amount {
	font-weight: bold;
}

.order-btn {
	float: right;
}
